In [33]:
text = """Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. On average, the Moon moves 4 cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 C."""

In [34]:
# Ejercicio 1
lista=text.split(sep='. ')
print(lista)

['Interesting facts about the Moon', "The Moon is Earth's only satellite", 'There are several interesting facts about the Moon and how it affects life here on Earth', 'On average, the Moon moves 4 cm away from the Earth every year', 'This yearly drift is not significant enough to cause immediate effects on Earth', 'The highest daylight temperature of the Moon is 127 C.']

In [52]:
palabras_clave=['average', 'temperature', 'distance']
for palabra in palabras_clave:
    for orac in lista:
        if palabra in orac:
            words=orac.split()
            for item in words:
                if item.isnumeric():
                    print('The {} is'.format(palabra),item)

The average is 4
The temperature is 127

Nota: hice una pequeña trampa, para que este método funcione es necesario cambiar '4cm' por '4 cm', seguro me sorprenderé lo mucho que me compliqué al ver la solución.

In [63]:
for orac in lista:
    if 'temperature' in orac:
        print(orac.replace('C', 'Celsius'))

The highest daylight temperature of the Moon is 127 Celsius.

In [87]:
#Ejercicio 2
# Datos con los que vas a trabajar
name = "Moon"
gravity = 0.00162 # in kms
planet = "Earth"

In [88]:
title= "Gravity in the {1}".format(planet, name)

In [89]:
temp= "Planet: {0} \nGravity: {1} m/s2".format(planet,gravity*1000)

In [90]:
plant= title + "\n ---------- \n"+ temp
print(plant)

Gravity in the Moon
 ----------
Planet: Earth
Gravity: 1.6199999999999999 m/s2

In [91]:
#Datos de testeo
planet = 'Marte '
gravity  = 0.00143
name = 'Ganímedes'
print(plant)

Gravity in the Moon
 ----------
Planet: Earth
Gravity: 1.6199999999999999 m/s2

In [92]:
title= "Gravity in the {1}".format(planet, name)
temp= "Planet: {0} \nGravity: {1} m/s2".format(planet,gravity*1000)
plant= title + "\n ---------- \n"+ temp
print(plant)

Gravity in the Ganímedes
 ----------
Planet: Marte
Gravity: 1.4300000000000002 m/s2